[user]
	name = chainsawriot
	email = chainsawtiney@gmail.com
	signingkey = 2C6BCA41C5D457C3
[core]
	editor = emacsclient --tty
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[credential]
	helper = cache
[commit]
	gpgsign = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "diff"]
         meta = yellow bold
	 frag = magenta bold
	 old = red bold
	 new = green bold
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
